<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans-2.5.xsd


http://www.springframework.org/schema/context


http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config/>


   <bean id="robo_config" class="frolov.robot.RoboConfig" scope="singleton">
      <constructor-arg ref="detecter_dummy"/>
      <constructor-arg>
         <map>
            <entry key="Стоп!">
               <bean id="command_stop" class="frolov.robot.serial_port.CommandStop">
                  <constructor-arg value="command_stop.xml" />
               </bean>
            </entry>
            <entry key="Ехать вперед">
               <bean id="command_move_forward" class="frolov.robot.serial_port.CommandMoveForward">
                  <constructor-arg value="command_forward.xml" />
               </bean>
            </entry>
            <entry key="Ехать назад">
               <bean id="command_move_backward" class="frolov.robot.serial_port.CommandMoveBackward">
                  <constructor-arg value="command_backward.xml" />
               </bean>
            </entry>
            <entry key="Поворот налево">
               <bean id="left_turn" class="frolov.robot.serial_port.CommandLeftTurn">
                  <constructor-arg value="command_left.xml" />
               </bean>
            </entry>
            <entry key="Поворот направо">
               <bean id="right_turn" class="frolov.robot.serial_port.CommandRightTurn">
                  <constructor-arg value="command_right.xml" />
               </bean>
            </entry>
         </map>
      </constructor-arg>
   </bean>

   <bean id="detecter_dummy" class="frolov.robot.serial_port.SerialPortDummyDetector">
   </bean>

   <bean id="diagnostic_plain" class="frolov.robot.ui.DiagnosticPanelPlain" lazy-init="true">
      <constructor-arg ref="robo_config"/>
   </bean>
   <bean id="diagnostic_joystick" class="frolov.robot.ui.DiagnosticPanelJoystick" lazy-init="true">
      <constructor-arg ref="robo_config"/>
   </bean>

</beans>