<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans-2.5.xsd


http://www.springframework.org/schema/context


http://www.springframework.org/schema/context/spring-context-2.5.xsd">

   <context:annotation-config/>


   <bean id="tray_command" class="frolov.robot.serial_port.type1.Command">
      <constructor-arg value="Комманда на иконке" />
      <constructor-arg value="stop.png" />
      <constructor-arg value="command_stop.xml" />
   </bean>




   <bean id="robo_config" class="frolov.robot.RoboConfig" scope="singleton">
      <constructor-arg ref="port_detector"/>
      <constructor-arg>
         <map>
            <entry key="stop">
               <bean id="command_stop" class="frolov.robot.serial_port.type1.Command">
                  <constructor-arg value="Стоп!" />
                  <constructor-arg value="stop.png" />
                  <constructor-arg value="command_stop.xml" />
               </bean>
            </entry>
            <entry key="forward">
               <bean id="command_move_forward" class="frolov.robot.serial_port.type1.Command">
                  <constructor-arg value="Ехать вперед" />
                  <constructor-arg value="up.png" />
                  <constructor-arg value="command_forward.xml" />
               </bean>
            </entry>
            <entry key="backward">
               <bean id="command_move_backward" class="frolov.robot.serial_port.type1.Command">
                  <constructor-arg value="Ехать назад" />
                  <constructor-arg value="down.png" />
                  <constructor-arg value="command_backward.xml" />
               </bean>
            </entry>
            <entry key="left">
               <bean id="left_turn" class="frolov.robot.serial_port.type1.Command">
                  <constructor-arg value="Поворот налево" />
                  <constructor-arg value="left.png" />
                  <constructor-arg value="command_left.xml" />
               </bean>
            </entry>
            <entry key="right">
               <bean id="right_turn" class="frolov.robot.serial_port.type1.Command">
                  <constructor-arg value="Поворот направо" />
                  <constructor-arg value="right.png" />
                  <constructor-arg value="command_right.xml" />
               </bean>
            </entry>
         </map>
      </constructor-arg>
   </bean>

   <bean id="port_detector" class="frolov.robot.serial_port.SerialPortDummyDetector">
   </bean>

   <bean id="diagnostic" class="frolov.robot.ui.DiagnosticPanelPlain" lazy-init="true">
      <constructor-arg ref="robo_config"/>
   </bean>

<!--
   <bean id="diagnostic_joystick" class="frolov.robot.ui.DiagnosticPanelJoystick" lazy-init="true">
      <constructor-arg ref="robo_config"/>
   </bean>
-->

   <bean id="rest" class="frolov.robot.rest.scratch.ScratchRest" lazy-init="true">
      <constructor-arg ref="robo_config"/>
   </bean>

</beans>