<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans-2.5.xsd


http://www.springframework.org/schema/context


http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config/>


   <bean id="commands" class="frolov.robot.Commands">
      <property name="portDetecter" ref="detecter_dummy"/>
   </bean>

   <bean id="detecter_dummy" class="frolov.robot.serial_port.SerialPortDummyDetector">
   </bean>


</beans>